* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
  }
  .breadcrumb-item.active {
    color: #6c757d;
  }
  /* #header-img {
    float: right;
    width: 300px;
  }
  #float {
    float: left;
  } */
  .social-icon {
    width: 100%;
  }
  
  .social-icon a {
    font-size: 22px;
    text-align: center;
    width: 45px;
    color: rgb(25, 129, 133);
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #05ff05;
    /* box-shadow: 0px 0px 0px 1px #ffffff66; */
    margin: 3px;
    /* color: #fff; */
    /* opacity: 0.7; */
    transition: 0.3s ease-in-out;
  }
  
  .social-icon a:hover {
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px #f30909;
  }
  
  /*New_page*/
  .sclrank{
    border: 1px solid #e8f1fa;
  }
  .header-btn {
    display: none;
  }
  #features-area{
    position: -ms-page;
    top: -30px;
  }
  #total-schools{
    border-right: 1px solid black;
  }
  .universityImage{
    width: 30%;
  }
  .universityDetails{
    font-weight: 800; 
    font-size: x-large;
  }
  .un-details img{
    height: 20px; 
    width: 20px;
  }
  @media (max-width: 769px){
    /* #header-img {
      width: 180px;
    } */
    .sort{
      display: none;
    }
  
    #total-school-rank{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    #total-schools{
      border-right: 0;
    }
    .header-btn{
      display: flex;
      padding: 5px;
    }
  
    #left-according {
      display: none;
    }
    /* #features-area{
        position: relative;
        top: -420px;
    } */
    .un_design {
      display: flex;
      margin-top: 25px;
      box-shadow: 8px 8px 8px 5px rgb(224 224 224);
    }
    .un_design_image {
      width: 100%;
      height: 5px;
    }
    .un_design_image:hover {
      opacity: 0.7;
    }
    .un-details img{
      height: 20px; 
      width: 20px;
    }
    .un-details {
      border: 1px solid white;
      width: 100%;
    }
    .un-right{
      display: none;
    }
  }
  .input_placeholder{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e8f1fa;
  }
  .bodypart{
    padding-top: 20px;
  }
  
  button.btn.btn-light.btnstudy1{
    border: 1px solid #ccced1;
    margin: 0px 0.5rem 0.5rem 0px;
    padding: 5px 1rem;
    height: 2.25rem;
    border-radius: calc(1.125rem);
    font-size: 0.875rem;
  }
  button.btn.btn-light.btnstudy1:hover{
    border: 2px solid grey;
  }
  .un_design{
    display: flex;
    margin-top: 25px;
    box-shadow: 8px 8px 8px 5px rgb(224 224 224);
  }
  .un_design_image{
    width: 92%;
    height: 175px;
  }
  .un_design_image:hover{
    opacity: 0.7;
  }
  