*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Body */
.main-body{
    background-color: #f0f3f8;
}
.main-body-sizing{
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width:900px) {
    .main-body-sizing{
        margin-left: 0;
        margin-right: 0;
    }
}
