*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:any-link{
    text-decoration: none;
}

/* Main Body */
.main-body{
    background-color: #f0f3f8;
}
.main-body-sizing{
    margin-left: 20px;
    margin-right: 20px;
}
#next{
    float: right;
    margin-right: 22px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    color: rgb(7, 7, 7);
    font-weight: 600;
}
input{
    height: 39px;
}
#side-image{
    position: sticky;
    top: 210px;
}

header{
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

/* Media Query */
@media only screen and (max-width:900px) {
    .main-body-sizing{
        margin-left: 0;
        margin-right: 0;
    }
    button{
        margin-bottom: 5px;
    }
    #side-image{
        display: none;
    }
}
